:root {
  --branding-color: #07d644;
  --heading-font-family-primary: "Archivo Black", sans-serif;
  --heading-font-family-secondary: "Archivo", sans-serif;
  --default-font-family: "Roboto", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family-primary);
}
h2 {
  font-family: var(--heading-font-family-secondary);
}

.hero p {
  font-size: 36px;
  margin: 0 auto;
}
.hero h1 {
  font-size: 96px;
}
.hero h2 {
  font-size: 36px;
  line-height: 1.5;
}

.hero {
  padding-top: 250px;
  padding-bottom: 200px;
  color: white;
  text-align: center;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%),
    url(/images/electricity.jpeg);
  background-blend-mode: multiply;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.btn-branding {
  padding: 15px 25px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-branding:hover {
  background-color: var(--branding-color);
  box-shadow: 0px 10px 15px rgba(64, 253, 127, 0.2);
  color: #fff;
  transform: translateY(-7px);
}

.btn-branding:active {
  transform: translateY(-1px);
}

.part-2 {
  text-align: center;
  margin: 200px auto;
}
.part-2 img {
  width: 80px;
  opacity: 0.7;
}
.part-2 h1,
.part-2 h2,
.about-block h2 {
  color: var(--branding-color);
}

.part-2 p {
  opacity: 0.7;
}

.work-types {
  margin-bottom: 80px;
}

.navbar {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  transition: all 0.3s ease 0s;
}

.navbar-fontstyle {
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.navbar-fontstyle:hover {
  background-color: #767575;
  color: transparent;
}

.navbar-brand {
  font-family: var(--heading-font-family-primary);
  font-size: 24px;
}

.nav-link {
  font-family: var(--heading-font-family-secondary);
  font-size: 18px;
}
.navbar-nav .nav-link.active {
  color: var(--branding-color);
  font-weight: bold;
}

.nav-scrolled {
  background-color: rgb(215, 215, 215, 0.8);
}

.about-block {
  margin-top: 200px;
  margin-bottom: 130px;
}

.about-block p,
.benefits p {
  line-height: 1.5;
  font-size: 18px;
  opacity: 0.7;
}
.about-block img {
  width: 80%;
}

.benefits {
  margin-top: 100px;
}
.benefits img {
  width: 80px;
}

.benefits {
  margin-bottom: 120px;
}
.contacts {
  text-align: center;
  margin-bottom: 110px;
}
.contacts a {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 24px;
  font-family: var(--heading-font-family-secondary);
}

.contacts a:hover {
  color: rgb(0, 0, 0, 0.7);
  transition: all 0.3s ease 0s;
}

@media (max-width: 1000px) {
  .about-block p,
  .benefits p {
    font-size: 12px;
  }
  .benefits img {
    width: 55px;
  }
  .benefits {
    margin-bottom: 70px;
  }
  .contacts a {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 72px;
  }
  .hero h2 {
    font-size: 30px;
  }
  .part-2 {
    margin: 80px auto;
  }
  .work-types {
    margin-bottom: 30px;
  }
  .about-block {
    margin-top: 130px;
    margin-bottom: 60px;
  }

  .navbar {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }

  .benefits {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 680px) {
  .hero h1 {
    font-size: 56px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero p {
    font-size: 32px;
  }
  .navbar-brand {
    font-size: 20px;
  }
}
